body{ 
	margin: 0; 
	padding: 0; 
	/* background: url("att/background3.jpg");  */
	background-color: rgb(174, 202, 255);
	background-size: cover; 
	background-attachment: fixed;
	font-family: 'Century Gothic', sans-serif; 
	color: white; 
	/* line-height: 1.5em; */
}
p{
	line-height: 1.5em;
}
.box{ 
	width: 50%; 
	/* background: rgba(78, 97, 136, 0.6);  */
	background: rgb(118, 145, 202);
	padding: 5%; 
	text-align: center; 
	margin: auto; 
	margin-top: 60px; 
	color: white; 
	box-shadow: 0px 5px 18px #888888;
	border-radius: 5px;

	
} 
/* .box-img{ 
	border-radius: 50%; 
	width: 200px; 
	height: 200px;
	box-shadow: 0px 10px 20px rgb(87, 87, 87);
} */
.profile-img{
	border-radius: 50%; 
	height: 200px;
	width: 200px;
	background: url("att/profile-pic.jpg");
	box-shadow: inset 0px 0px 25px rgba(0, 0, 0, 0.685);
	background-size: 200px 200px;
	margin: auto;
}
.box img{
	transition: 0.3s;
}
.box img:hover{
	box-shadow: 0px 0px 18px rgba(0, 0, 0, 0.685);
}

.box h1{ 
	font-size: 40px; 
	letter-spacing: normal; 
	font-weight: 100; 
} 
.box h2{ 
	font-size: 25px; 
	letter-spacing: 3px; 
	font-weight: 100; 
	margin-top: 80px;
} 
.box p{ 
	text-align: left; 
}
ul{ 
	margin: 0; 
	padding: 0; 
} 
.box li{ 
	display: inline-block; 
	margin: 6px; 
	list-style: none; 
} 
.box li a{ 
	color: white; 
	text-decoration: none; 
	font-size: 60px; 
	transition: all ease-in-out 250ms; 
} 
.box li a:hover{ 
	color: #b9b9b9; 
}
#mySidenav a {
	position: fixed;
	left: -180px;
	transition: 0.3s;
	padding: 15px;
	text-align: center;
	width: 200px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 0 5px 5px 0;
	box-shadow: 5px 5px 18px #888888;
}

#mySidenav a:hover {
	left: 0;
}

#home, #software{
	top: 60px;
}

#about, #hardware{
	top: 120px;
}

#projects {
	top: 180px;
}

#resume {
	top: 240px;
}

/* #software{
	top: 100px;
}
#hardware{
	top: 230px;
} */

.unselected{
	background-color: rgb(73, 94, 153);
}
.selected{
	background: rgb(118, 145, 202);
}

#rightTab a {
	position: fixed;
	right: -180px;
	transition: 0.3s;
	padding: 15px;
	text-align: center;
	width: 200px;
	text-decoration: none;
	font-size: 20px;
	color: white;
	border-radius: 5px 0 0 5px ;
	box-shadow: 5px 5px 18px #888888;
	/* position: absolute;
	left: 75%;
	text-decoration: none;
	border-radius:  5px 5px 0 0 ;
	padding: 15px;
	width: 100px;
	text-align: center;
	color: white;
	  -webkit-transform: rotate(90deg);
	  -moz-transform: rotate(90deg);
	  -ms-transform: rotate(90deg);
	  -o-transform: rotate(90deg);
	  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3); */
}
#rightTab a:hover {
	right: 0;
}

hr{
	height:2px;
	border-width:0;
	color:white;
	background-color:white;
	width: 80%;
	margin: 40px auto;
}

a{
	color: rgb(191, 196, 247);
}
img{
	margin-top: 10px;
	margin-bottom: 10px;
}